{% extends "layout.html" %}
{% block body %}
<div id="content">
	<div class="important">Here's a bunch of games. Altogether, they're less than the price you asked for!</div>
		{% for game in games %}
		<div>
			<button id="buy_{{ game.name }}_button" class="button">Buy a game on itch.io!</button>
		</div>
		{% endfor %}
		Don't like these games? Just refresh the page for more!
	</div>	
	<script type="text/javascript" src="/static/itch.js"></script>
	<script type="text/javascript">
		{% for game in games %}
  		Itch.attachBuyButton(document.getElementById("buy_{{game.name}}_button"), {	
    		user: "{{game.user}}",
    		game: "{{game.name}}"
  		});
  		{% endfor %}
	</script>
</div>
{% endblock %}