{% extends "layout.html" %}
{% block body %}
<div id="content">
Press a button to get a random assortment of games from <a href="https://itch.io">itch.io</a>!
<div class="important">
	You will not be charged until you've been redirected to itch!
</div>

<form action="/api/v1/games-under/5" method="get">
	<input value="I want to spend $5 on games!" type="submit" class="button" />
</form>
<form action="/api/v1/games-under/10" method="get">
	<input value="I want to spend $10 on games!" type="submit" class="button" />
</form>
<form action="/api/v1/games-under/20" method="get">
	<input value="I want to spend $20 on games!" type="submit" class="button" />
</form>
</div>
{% endblock %}